{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Курсы</h1>

    <div class="container-fluid">
        {% for row in courses|batch(2) %}
            <div class="row justify-content-between mt-3">
                {% for course in row %}
                    <div class="card card__my">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.name }}</h5>
                            {% if coursesMessage[course.code] is defined %}
                                <h6 class="card-subtitle mb-2 text-muted">{{ coursesMessage[course.code] }}</h6>
                            {% else %}
                                <h6 class="card-subtitle mb-2 text-muted"> Бесплатный </h6>
                            {% endif %}
                            <p class="card-text">{{ course.description }}</p>
                            <a class="mt-auto" href="{{ path('app_course_show', {'id': course.id}) }}">Пройти</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div>Нет доступных курсов!</div>
        {% endfor%}
    </div>
    <hr>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a href="{{ path('app_course_new') }}" class="btn btn-outline-secondary">Добавить курс</a>
    {% endif %}
{% endblock %}



